<app-header />
<div class="min-h-[80vh] py-12 px-40">
  <h1 class="font-bold mb-4 text-2xl">
    My API Scanner - Système d'identification du contenu et visualisation des
    données API
  </h1>
  <p>
    My API Scanner est un outil en ligne permettant d'identifier le contenu des
    API et visualiser leurs données, afin d'obtenir et de fournir des informations
    plus utiles à ses utilisateurs. En outre, cet outil a été créer pour rendre
    les données de ces différentes API accessibles au public sans restrictions.
  </p>
</div>
<app-footer />
